body{
    margin: 0;
}

main{
     display: flex;
     flex-direction: column;
     height: 100%;
}

.tabela{
    border: 2px solid #000000;
    border-collapse: collapse;
    margin: 40px auto;
}

.tabela_cabecalho td{
    border: 2px solid #000000;
    font-size: 1.5em;
    padding: 10px 50px;
    font-weight: bold;
}

#container td{
    border: 2px solid #000000;
    font-size: 1.2em;
    text-align: center;
}

#container tr:nth-child(2n){
    background-color: rgb(236, 236, 236);
}

.aviso{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px;
}

.form{
    align-self: center;
    display: inline-block;
    justify-content: stretch;
    min-height: 490px;
    max-height: 490px;
    box-sizing: border-box;
    padding: 20px 40px;
    width: 30%;
    border: 2px solid #000000;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #d8d8d8;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 40px;
}

.form div:first-child{
    grid-row: 1 / span 3;
}

.form > div:last-child{
    grid-row: 4/ 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h1{
    margin: 0 0 20px 0;
}

label{
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
}

select{
    margin-bottom: 20px;
    font-size: 1em;
}
input{
    margin-bottom: 20px;
}

.esconder{
    visibility: hidden;
}

.sumir{
    display: none;
}

button{
    border: none;
    padding: 10px 20px;
    background-color: antiquewhite;
    width: 100%;
}

button:hover{
    background-color: rgb(121, 112, 101);
    color: white;
}

span{
    font-weight: bold;
    margin: 10px;
}
